#about{
    background-color: rgb(255, 255, 255);
    padding-bottom: 50px;
    height: auto;
    justify-content: center;
    
}
.title{
    font-size: 30px;
    text-align: center;
    padding: 12px
}

.content{
    padding: 0px 60px;
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column;
}   

@media (min-width: 768px){
    .content {
        flex-direction: row; /* Columns on larger screens */
    }
}

.globe{
    height:500px;;
    width:500px;
}
.profilePic{
    border-radius: 50%;
    width: 220px;
    height: 220px;
    margin-right: 3%;
    margin-top: 1%;   
    /* borderRadius:"50%", width:"200px", height:"200px", margin:"0px 1em", float: "left" */
}
strong{
    font-weight: 600;
}