html, body{
  font-weight: 100;
  width: 100%;
}

/* anything bigger than 1100px are affected */
@media screen and (min-width: 1100px) {
  .main{
      font-size: 20px;
      padding-left: 5em;
      padding-right: 5em;
  }
}